* {
	box-sizing: border-box;
}
body {
	@include reg;
}
img{
	max-width: 100%;
}
.container {
	width: 1170px;
	margin: auto;
}
@media (max-width: 1200px){
	.container{
		width: 760px;
	}
}
@media (max-width: 768px){
	.container{
		max-width: 580px;
		width: 90%;
	}
}
.section{
	padding: 90px 0;
	&-subtitle{
		display: block;	
		font-size: 16px;
	}
	&-title{
		font-size: 24px;
		@include bold;
		text-align: center;
	}
	
}
.button{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: $main-color;
	border: none;
	padding: 18px 30px;
	@include bold;
	&:hover{
		background-color: lighten($color: $main-color, $amount: +10);
		cursor: pointer;
	}
	&:focus{
		outline: none;
	}
	
}


.input{
	border: 1px solid $border-input;
	border-radius: 10px;
	padding:  26px 26px;
	font-size: 15px;
	transition: 0.2s;	
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	&:focus
	{
		outline: none;
	}	
	&:active{
		border-color: $main-color;
	}
}
.arrows {
	&__left, &__right {
		cursor: pointer;

	}
}
